<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="header-main__wrapper">
            <div clas="header-main__container">
                <ul class="header-main__list">
                    <li class="header-main__list-item">
                        <a href="{{ url_for('index') }}">Главная</a>
                    {% if current_user.is_authenticated %}
                    <li class="header-main__list-item">
                        <a href="{{ url_for('profile') }}">Профиль</a>
                    </li>
                    <li class="header-main__list-item">
                        <a href="{{ url_for('logout') }}">Выйти</a>
                    </li>
                    {% else %}
                    <li class="header-main__list-item">
                        <a href="{{ url_for('login') }}">Войти</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
