<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href='styles.css'> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="header-main__wrapper">
            <div class="header-main__container">
                <div class="header-main__list">
                    <div class="header-main__list-item">
                        <a href="{{ url_for('index') }}">
                            <span class="header-main__text-color">Главная</span>
                        </a>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="header-main__list-item">
                        <a href="{{ url_for('profile') }}">
                            <span class="header-main__text-color">Профиль</span></a>
                    </div>
                    <div class="header-main__list-item">
                        <a href="{{ url_for('logout') }}">
                            <span class="header-main__text-color">Выйти</span>
                        </a>
                    </div>
                    {% else %}
                    <div class="header-main__list-item">
                        <a href="{{ url_for('login') }}">
                            <span class="header-main__text-color">Войти</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
